<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59231229216-ejj49tgd3s5nef2k9geqeccnheov6a97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59231229216-ejj49tgd3s5nef2k9geqeccnheov6a97</string>
	<key>API_KEY</key>
	<string>AIzaSyDc5y-lViTXE9rLOa_vKw2zZGdE20Zxf88</string>
	<key>GCM_SENDER_ID</key>
	<string>59231229216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transiterDriver</string>
	<key>PROJECT_ID</key>
	<string>transiter-315910</string>
	<key>STORAGE_BUCKET</key>
	<string>transiter-315910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59231229216:ios:b7e65c3319ad7dc47db345</string>
</dict>
</plist>